# Visual Studio Code
.vscode/

packages/

# ReSharper

# StyleCop

# IDE Settings (Visual Studio)
*.suo
*.user

# IDE Settings (VS Code)
/Source/Vescon.So/.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.log
*.log.[0-9]*
/$tf/properties.tf1
/$tf/pendingchanges.tfb
/$tf/pendingchanges.tf1
/$tf/localversion.tfb
/$tf/localversion.tf1
